@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, *:before, *:after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	background-color: #202330;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #a8a8b4;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.form {
	position: absolute;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 12px;
	padding: 30px;
	background-color: #1a1a2c;
}

input[type=email], input[type=password], input[type=text] {
	padding: 10px;
	margin: 10px 0;
	border: 0;
	border-radius: 10px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	width: 100%;
	background-color: #01000f;
	color: #a8a8b4;
}

button {
	appearance: none;
	-webkit-appearance: none;
	padding: 10px;
	background-color: #202330;
	border: none;
	border-radius: 10px;
	width: 100%;
	margin-top: 10px;
	color: #a8a8b4;
	border: 1px solid black;
}

button:hover {
	border-color: #202330;
}

button:active {
	background-color: #272a3c;
}

.link {
	text-align: center;
	margin-bottom: 0;
}

.link > a {
	text-decoration: none;
}

.error {
	color: darkred;
	text-align: center;
	margin-top: 0;
}
