{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block stylesheet %}{{ url_for('static', filename='contact.css') }}{% endblock %}
{% block content %}
<div class="contact">
{% for message in get_flashed_messages() %}
	<p class="error">{{ message }}</p>
{% endfor %}
	<form method="POST">
		<h1>Contact Us</h1>
		<label for="username">Username</label>
		<input type="text" name="username" value="{{ session['username'] }}">
		<label for="email">Email</label>
		<input type="email" name="email">
		<textarea col=30 row=5 name="problem" placeholder="Describe your problem..."></textarea>
		<button type="submit" class="submit">Submit</button>
	</form>
</div>
{% endblock %}
