{% extends "base.html" %}
{% block title %}{{ term }}{% endblock %}
{% block stylesheet %}{{ url_for('static', filename='search.css') }}{% endblock %}
{% block content %}
	{% if type == "movie" %}
		{% if movies is not none and movies|length > 0 %}
		<div class="content">
			{% for movie in movies %}
			<a href="{{ url_for('video.video', invite=movie['invite']) }}">
        <figure class="movie">
					<img src="{{ url_for('static', filename='videos/' + movie['userId']|string + '/' + movie['filename'] + '.png') }}" />
          <figcaption>{{ movie['title'] }}</figcaption>
        </figure>
			</a>
			{% endfor %}
		</div>
		{% else %}
		<h1>There is currently no room with that title.</h1>
		{% endif %}
{% else %}
	{% if users is not none and users|length > 0 %}
	<form method="POST">
		<table>
      <caption>Users</caption>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Delete</th>
        </tr>
  {% for user in users %}
		{% if user["email"] != "admin@admin" %}
      <tr>
        <td>{{ user["username"] }}</td>
        <td>{{ user["email"] }}</td>
        <td><button type="submit" name="userDelete" value="{{ user['id'] }}">DELETE</button></td>
      </tr>
    {% endif %}
	{% endfor %}
		</table>
	</form>
	{% else %}
		<h1>There are currently no users with that username.</h1>
	{% endif %}
{% endif %}
{% endblock %}
